/* ----------- Roots ---------- */
:root {
    --primary-blue: #3b82f6;
    --linear-gradient-color: linear-gradient(to right, #ffffff, #60a5fa);
    --dark-bg: #050a15;
    --sidebar-bg: rgba(10, 20, 40, 0.98);
    --card-bg: rgba(15, 23, 42, 0.7);
    --text-gray: #9ca3af;
    --error-red: #ef4444;
    --accent-glow: rgba(59, 130, 246, 0.3);
}
/* ========== Animation styling ========== */
.close-sidebar:hover {
    color: #3b82f6;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.5);
    transform: rotate(90deg);
}

/* Nav side Menu*/
/* FIXED: Prevent Shifting */
.nav-link:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.05);
}

/* ========== HOMEAPAGE STYLING ==========*/
/* Hub Grids Cards */
.grid-card:hover {
    transform: translateY(-5px);
    border-color: var(--primary-blue);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Action link button style */
.action-link:hover {
    background: var(--primary-blue);
    border-color: var(--primary-blue);
}

/* tech-carousel-container - carousel button styling */
.carousel-btn:hover {
    background: var(--primary-blue);
    box-shadow: 0 0 15px var(--accent-glow);
    transform: translateY(-50%) scale(1.1);
}
