/* ========== Animation styling ========== */
.close-sidebar:hover {
    color: #3b82f6;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.5);
    transform: rotate(90deg);
}

/* Nav side Menu*/
/* FIXED: Prevent Shifting */
.nav-link:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.05);
}